/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((color: mat.$violet-palette,
      typography: Roboto,
      density: 0));
}